.App {
  text-align: center;
    min-height: 100vh;
  padding: 20px;
  color: white;
}
.App.sunny {
  background: url('./sunny.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App.cloudy {
  background: url('./cloudy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App.rainy {
  background: url('./rainy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App.snowy {
  background: url('./snowy.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App.default {
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}
